
version: '3.8'

services:
  web:
    build: .
    command: gunicorn itestoria.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - ./isrgrootx1.pem:/etc/ssl/certs/tidb_ca.pem
    ports:
      - "8000:8000"
    env_file:
      - .env

volumes:
  db_data: